<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Trip or Travel</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/exifreader@4.0.0/dist/exif-reader.min.js"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- static -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <script src="../static/main.js"></script>
    <!-- Google Map  -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlc1cmKgefcHGoKjAL5FUUjXGrAlRvwN0&callback=initMap&v=weekly"
            async
    ></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <!-- og tag -->
    <meta property="og:title" content="Trip or Travel"/>
    <meta property="og:description" content="여행을 가거나! 여행을 떠나거나! 나만의 여행일지"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}"/>
</head>
<body>
<!-- Header -->
<div class="header">
    <div class="nav">
        <span class="nav-title">Trip or Travel</span>
        <span class="nav-subheading">여행을 가거나! 여행을 떠나거나!</span>
    </div>
    <button onclick="openClose()" class="post-button">Trip</button>
</div>
<!-- Content -->
<div class="content">
    <!-- Posting box -->
    <div id="posting-box" class="post-box" style="display: none">
        <div class="post-css">
            <div class="post">
                <label for="post-writer">작성자</label>
                <input id="post-writer" type="text" maxlength="10" required>
            </div>
            <div class="post">
                <label for="post-trip-date">여행날짜</label>
                <input id="post-trip-date" type="date">
            </div>
            <div class="post">
                <label for="post-trip-place">여행장소</label>
                <input id="post-trip-place" type="text">
                <button id="geo-submit" class="search-button" type="button">검색</button>
            </div>
            <div class="post">
                <label for="post-trip-location">위도 경도</label>
                <input id="post-trip-location" type="text">
            </div>
            <div class="post">
                <label class="card-upload-button">사진 업로드</label>
                <input id="post-img" type="file" onchange="uploadImage()" accept="image/*">
            </div>
            <div class="post">
                <label for="post-trip-content">내용</label>
                <textarea id="post-trip-content" rows="8" cols="48" maxlength="300"></textarea>
            </div>
            <button class="save-button" type="button" onclick="postArticle()">저장</button>
        </div>
    </div>
    <!-- Google Map -->
    <div id="map"></div>
    <!-- Card box -->
    <div id="card-bundle" class="cards">
        <div class="cards-box">
            <div class="card">
                <span class="card-writer">Writer 최소연</span>
                <img class="card-img" src="https://pbs.twimg.com/media/C8eYK31UMAAwoPc.jpg">
                <span class="card-trip-date">여행 날짜: 2021-11-02</span>
                <span class="card-trip-place">여행 장소: 제주특별자치도</span>
                <span class="card-trip-content">
            제주도로 향하는 비행기를 탔을 때, 무척이나 설렜다. 오랜만에 향하는 제주도라니, 심지어 한달살기! 내가 그토록 기다리던 제주 한달 살기를 하게 되어서 좋았다. 이제부터 한달 동안, 공부 할 때는 공부하고, 놀때는 놀면서 알차게 한 달 살기를 할 것이다! 한달 행복하자! 안녕하세요 만나서 반갑습니다. 네이버 글자수세기 통합 이미지 지식인 이플루언서 동영상 쇼핑 뉴스 어학사전 지도 공백포함 공백제외 맞춤법 검사기 글자수 세기 사람인 빠른 글자수세기 인크루트 글자수세기 띄어쓰기 맞춤법검사 언어 안ㄴ여하세요 코로나 일구 선별진료소 코로나
          </span>
            </div>
        </div>

        <div class="cards-box">
            <div class="card">
                <span class="card-writer">Writer 최소연</span>
                <img class="card-img" src="http://www.jejusori.net/news/photo/202110/334570_346433_5355.jpg">
                <span class="card-trip-date">여행 날짜: 2021-11-02</span>
                <span class="card-trip-place">여행 장소: 제주특별자치도</span>
                <span class="card-trip-content">
            제주도로 향하는 비행기를 탔을 때, 무척이나 설렜다. 오랜만에 향하는 제주도라니, 심지어 한달살기! 내가 그토록 기다리던 제주 한달 살기를 하게 되어서 좋았다. 이제부터 한달 동안, 공부 할 때는 공부하고, 놀때는 놀면서 알차게 한 달 살기를 할 것이다! 한달 행복하자! 안녕하세요 만나서 반갑습니다. 네이버 글자수세기 통합 이미지 지식인 이플루언서 동영상 쇼핑 뉴스 어학사전 지도 공백포함 공백제외 맞춤법 검사기 글자수 세기 사람인 빠른 글자수세기 인크루트 글자수세기 띄어쓰기 맞춤법검사 언어 안ㄴ여하세요 코로나 일구 선별진료소 코로나
          </span>
            </div>
        </div>

        <div class="cards-box">
            <div class="card">
                <span class="card-writer">Writer 최소연</span>
                <img class="card-img" src="https://vrthumb.imagetoday.co.kr/2017/04/12/tip249t007651.jpg">
                <span class="card-trip-date">여행 날짜: 2021-11-02</span>
                <span class="card-trip-place">여행 장소: 제주특별자치도</span>
                <span class="card-trip-content">
            제주도로 향하는 비행기를 탔을 때, 무척이나 설렜다. 오랜만에 향하는 제주도라니, 심지어 한달살기! 내가 그토록 기다리던 제주 한달 살기를 하게 되어서 좋았다. 이제부터 한달 동안, 공부 할 때는 공부하고, 놀때는 놀면서 알차게 한 달 살기를 할 것이다! 한달 행복하자! 안녕하세요 만나서 반갑습니다. 네이버 글자수세기 통합 이미지 지식인 이플루언서 동영상 쇼핑 뉴스 어학사전 지도 공백포함 공백제외 맞춤법 검사기 글자수 세기 사람인 빠른 글자수세기 인크루트 글자수세기 띄어쓰기 맞춤법검사 언어 안ㄴ여하세요 코로나 일구 선별진료소 코로나
          </span>
            </div>
        </div>

        <div class="cards-box">
            <div class="card">
                <span class="card-writer">Writer: 최소연</span>
                <img class="card-img" src="https://t1.daumcdn.net/cfile/tistory/996C0C4C5ABB5AF316">
                <span class="card-trip-date">여행 날짜: 2021-11-02</span>
                <span class="card-trip-place">여행 장소: 제주특별자치도</span>
                <span class="card-trip-content">
            제주도로 향하는 비행기를 탔을 때, 무척이나 설렜다. 오랜만에 향하는 제주도라니, 심지어 한달살기! 내가 그토록 기다리던 제주 한달 살기를 하게 되어서 좋았다. 이제부터 한달 동안, 공부 할 때는 공부하고, 놀때는 놀면서 알차게 한 달 살기를 할 것이다! 한달 행복하자! 안녕하세요 만나서 반갑습니다. 네이버 글자수세기 통합 이미지 지식인 이플루언서 동영상 쇼핑 뉴스 어학사전 지도 공백포함 공백제외 맞춤법 검사기 글자수 세기 사람인 빠른 글자수세기 인크루트 글자수세기 띄어쓰기 맞춤법검사 언어 안ㄴ여하세요 코로나 일구 선별진료소 코로나
          </span>
            </div>
        </div>

        <div class="cards-box">
            <div class="card">
                <span class="card-writer">Writer: 최소연</span>
                <img class="card-img" src="https://img.seoul.co.kr/img/upload/2021/01/19/SSI_20210119142205.jpg">
                <span class="card-trip-date">여행 날짜: 2021-11-02</span>
                <span class="card-trip-place">여행 장소: 제주특별자치도</span>
                <span class="card-trip-content">
            제주도로 향하는 비행기를 탔을 때, 무척이나 설렜다. 오랜만에 향하는 제주도라니, 심지어 한달살기! 내가 그토록 기다리던 제주 한달 살기를 하게 되어서 좋았다. 이제부터 한달 동안, 공부 할 때는 공부하고, 놀때는 놀면서 알차게 한 달 살기를 할 것이다! 한달 행복하자! 안녕하세요 만나서 반갑습니다. 네이버 글자수세기 통합 이미지 지식인 이플루언서 동영상 쇼핑 뉴스 어학사전 지도 공백포함 공백제외 맞춤법 검사기 글자수 세기 사람인 빠른 글자수세기 인크루트 글자수세기 띄어쓰기 맞춤법검사 언어 안ㄴ여하세요 코로나 일구 선별진료소 코로나
          </span>
            </div>
        </div>
    </div>

    <!-- <div class="cards-box">
      <div class="card">
        <img class="card-img" src="https://pbs.twimg.com/media/C8eYK31UMAAwoPc.jpg">
        <span class="card-writer">작성자: 최소연</span>
        <span class="card-title">제목: 가장 아름다운 섬, 제주도</span>
        <span class="card-trip-date">여행 날짜: 2021-11-02</span>
        <span class="card-trip-place">여행 장소: 제주특별자치도</span>
        <div class="contentAndMore">
          <span class="card-trip-content clamp">
            제주도로 향하는 비행기를 탔을 때, 무척이나 설렜다. 오랜만에 향하는 제주도라니, 심지어 한달살기! 내가 그토록 기다리던 제주 한달 살기를 하게 되어서 좋았다. 이제부터 한달 동안, 공부 할 때는 공부하고, 놀때는 놀면서 알차게 한 달 살기를 할 것이다! 한달 행복하자! 안녕하세요 만나서 반갑습니다. 네이버 글자수세기 통합 이미지 지식인 이플루언서 동영상 쇼핑 뉴스 어학사전 지도 공백포함 공백제외 맞춤법 검사기 글자수 세기 사람인 빠른 글자수세기 인크루트 글자수세기 띄어쓰기 맞춤법검사 언어 안ㄴ여하세요 코로나 일구 선별진료소 코로나
          </span>
          <button class="morebutton">
            <img src="../static/expand_more.svg" alt="더보기 버튼">
          </button>
        </div>
      </div>
    </div> -->
</div>
</body>
</html>