<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>나홀로 쇼핑몰</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function isCellPhone(p) {
            const regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
            return regExp.test(p);
        }

        function order() {
            const name = $("#order-name").val();
            const count = $("#order-count").val();
            const address = $("#order-address").val();
            const phone = $("#order-phone").val();

            if (name === "") {
                alert("이름을 입력해주세요")
                $("#order-name").focus()
                return
            } else if (count === "") {
                alert("수량을 입력해주세요")
                $("#order-count").focus()
                return
            } else if (address === "") {
                alert("주소를 입력해주세요")
                $("#order-address").focus()
                return
            } else if (phone === "") {
                alert("휴대폰번호를 입력해주세요")
                $("#order-phone").focus()
                return
            } else if (!isCellPhone(phone)) {
                alert("휴대폰번호 입력 형식이 틀립니다. \n 010-0000-0000으로 입력해주세요")
                return
            }

            $.ajax({
                type: "POST",
                url: "/order",
                data: {
                    "name_give": name,
                    "count_give": count,
                    "address_give": address,
                    "phone_give": phone
                },
                success: function (response) {
                    if (response["result"] === "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        $(document).ready(function () {
            $("#orders-box").empty();
            showOrders();
        });

        function showOrders() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    if (response["result"] === "success") {
                        const orders = response["data"];
                        for (let i = 0; i < orders.length; i++) {
                            const order = orders[i]
                            const tempHtml = `<tr>
                                                <td>${order['name']}</td>
                                                <td>${order['count']}</td>
                                                <td>${order['address']}</td>
                                                <td>${order['phone']}</td>
                                              </tr>`;
                            $("#orders-box").append(tempHtml);
                        }
                    } else {
                        alert("리뷰를 받아오지 못했습니다");
                    }
                }
            })
        }

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    const rate = response[1]["rate"]
                    const tempHtml = `달러-원 환율: ${rate}`
                    $('.exchange-rate').append(tempHtml)
                },
            });
        });
    </script>

    <style type="text/css">
        * {
            font-family: 'Gowun Batang', serif;
        }

        h1, h5 {
            display: inline;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        .img {
            background-image: url("http://image.dongascience.com/Photo/2017/10/15093503419543[1].jpg");
            background-size: cover;
            background-position: center;
            width: 500px;
            height: 300px;
            margin-top: 50px;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .order {
            text-align: center;
        }

        .orders {
            margin-top: 50px;
        }

        .exchange-rate {
            color: blue;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="img"></div>
    <div class="info">
        <h1>Jack-O'-Lantern</h1>
        <h5>가격: 금화 1개 / 개</h5>
        <p>곧 다가올 Halloween 맞이 특가 Sale!! 잭-오-랜턴으로 할로윈 느낌이 물씬 풍기게 꾸며보는건 어떠신가요?</p>
        <span class="exchange-rate"></span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">주문자 이름</span>
            </div>
            <input type="text" class="form-control" id="order-name">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="order-count">수량</label>
            </div>
            <select class="custom-select" id="order-count">
                <option selected value=""> -- 수량을 선택하세요 --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">주소</span>
            </div>
            <input type="text" class="form-control" id="order-address">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">전화번호</span>
            </div>
            <input type="text" class="form-control" id="order-phone">
        </div>
        <div class="order">
            <button onclick="order()" type="button" class="btn btn-primary">주문하기</button>
        </div>
    </div>
    <div class="orders">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">수량</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="orders-box">
            <tr>
                <td>박르탄</td>
                <td>3</td>
                <td>스파르타국 코딩시 프론트구</td>
                <td>010-1234-5678</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>