:root {
  /* color */
  --skyblue-color: #87d7ff;
  --box-color: #f0fbff;
  --button-color: #f9f871;
  --card-color: #dff8f3;

  /* font size */
  --font-title: 80px;
  --font-subTitle: 30px;
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 15px;

  --font-media-title: 70px;

  /* size */
  --padding: 15px;
  --input-height: 35px;
}

* {
  font-family: "Gowun Batang", serif;
  /* body에 폰트 작성 시, 버튼부분 폰트가 먹히지 않음
  이유: button에는 기본 값(폰트)이 있음. CSS 적용 명시도(우선순위)가 부모인 body 태그 CSS 보다 button 기본 값 CSS가 더 높기 때문에 브라우저의 버튼 style이 적용됨.
  전역 선택자(*)는 모든 태그에 직접 해당 값을 넣는것과 같은 우선순위를 갖는다고 봄. 그래서 브라우저의 스타일보다 우선적으로 적용됨. */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("wave_back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

button, /* 브라우저 자체에서 꾸며주는 버튼의 속성을 제거함 */
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 80px;
}

.header .nav {
  margin: auto; /* header 가운데 정렬로 만듦 */
}

.header .post-button {
  padding: 10px 20px;
  margin: auto; /*button 가로와 세로를 가운데 정렬해줌 (적용 안할 시에 button이 가로로 길게 늘어짐)*/
  margin-top: 20px;
  font-size: var(--font-large);
  background-color: var(--box-color);
  border-radius: 10%;
  font-weight: bold;
}

.header .post-button:hover {
  background-color: var(--button-color);
}

.header .nav .nav-title {
  font-size: var(--font-title);
  font-weight: bold;
}

.header .nav .nav-subheading {
  display: block; /*text-align사용을 위해서 block으로 변경*/
  font-size: var(--font-subTitle);
  text-align: center; /* 글을 화면 중앙에 배치 */
}

/* Post box */
.post-box .post-css {
  background-color: var(--box-color);
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 510px;
  margin: auto;
  padding: 25px;
  font-size: var(--font-large);
  border-radius: 5%;
}

#post-writer {
  width: 200px;
  height: var(--input-height);
}

#post-trip-place {
  width: 250px;
  height: var(--input-height);
}

.search-button {
  padding: 10px;
  font-size: var(--font-small);
  background-color: var(--button-color);
  border-radius: 10%;
  font-weight: bold;
}

#post-trip-location {
  width: 250px;
  height: var(--input-height);
}

#post-trip-date {
  width: 200px;
  height: var(--input-height);
}

#post-trip-content {
  margin-top: 8px;
  font-size: var(--font-medium);
}

input {
  font-size: var(--font-small);
}

.post-box .post-css .post {
  margin: 13px;
}

.post-box .post-css .save-button {
  padding: 10px 20px;
  margin: auto; /*button 가로와 세로를 가운데 정렬해줌 (적용 안할 시에 button이 가로로 길게 늘어짐)*/
  font-size: var(--font-large);
  background-color: var(--button-color);
  border-radius: 10%;
  font-weight: bold;
}

.post-box .post-css .save-button:hover {
  background-color: var(--skyblue-color);
}

/* Google Map */
#map {
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
}

/* Card box */

.cards {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cards-box {
  margin: 30px;
  margin-bottom: 70px;
  height: 650px;
  width: 400px;
}

.cards-box .card .card-img {
  /* width: 400px;
  height: 225px; */
  max-width: 100%;
  height: auto;
}

.cards-box .card {
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  font-size: var(--font-medium);
}

.cards-box .card span {
  padding: 3px 20px;
}

.cards-box .card .card-writer {
  font-size: var(--font-large);
  font-weight: bold;
  padding: 5px;
}

.cards-box .card .card-trip-date {
  padding-top: 20px;
}

.cards-box .card .card-trip-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 더보기 버튼 만들려다가 어울리지 않아서 삭제.

.cards-box .card .contentAndMore {
  display: flex;
}

.cards-box .card .contentAndMore .card-trip-content {
}

.cards-box .card .card-trip-content.clamp {
  display: -webkit-box; /* 문장이 길때, ...으로 표현하기 위한 방법 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 문장이 몇 줄일때 ... 표현 
  overflow: hidden; 뒤에 글을 숨김  
}

.cards-box .card .contentAndMore .morebutton {
  height: 100%; 높이가 꽉차게 하여서 버튼을 위로 배치함 
  transition: transform 300ms ease-in-out;
  버튼에게 애니메이션을 줌 (transition): transform을 변화시킴 300ms동안 
  ease-in-out을 통해서 
}

.cards-box .card .contentAndMore .morebutton.clicked {
  /* 버튼이 클릭되었을 때만 글이 위로 올라가도록 
  transform: rotate(180deg);
  /* 움직이고 변하는 것은 transform 사용. position,rotation, scale 을 바꿈.
  rotation을 180도 바꿈 
} */
@media screen and (max-width: 900px) {
  .header .nav .nav-title {
    font-size: var(--font-media-title);
  }
  #map {
    width: auto;
    margin: 50px;
  }
}
